.App {
  position : absolute ;
  top : 0px ;
  text-align: center ;
  width : 100vw ;
  /*height : 100vh ;*/
  background-color : #aaf;
  display : flex ;
  flex-direction: column ;
  min-height: 100vh ;
}


.scanButton {
  position: relative;
  top: 1px;
  right : 5px;
  border-radius: 10px ;
  width : 250px ;
  height : 80px ;
  background-color:#E8789E;
}

